* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgoldenrodyellow;
}

.header {
  height: 100px;
  background-color: sandybrown;
  border-bottom: 2px solid red;
}

.header-title {
  padding-top: 30px;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 15% 35% 35% 15%;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
}

.shopping-cart {
  color: black;
  width: 250px;
  height: 400px;
  grid-column-start: 3;
  text-align: center;
  padding-top: 20px;
}

.shopping-cart ul {
  list-style-type: none;
  width: 200px;
  margin: auto;
}

.shopping-cart li {
  background-color: lightsalmon;
}

.shopping-cart li:nth-child(even) {
  background-color:moccasin
}

.grocery-list {
color: black;
width: 250px;
height: 400px;
grid-column-start: 2;
text-align: center;
padding-top: 20px;
}

.grocery-list ul {
  list-style-type: none;
  width: 200px;
  margin: auto;
  padding-bottom: 30px;
}

.grocery-list li {
  background-color: lawngreen;
}

.grocery-list li:nth-child(even){
  background-color:lightgreen;
}

.grocery-list h1 {
  padding: 5px 0px 20px 0px;
}

.shopping-cart h1 {
  padding: 5px 0px 20px 0px;
}

.shopping-cart button {
  margin: 10px 0px;
}

.list-item {
  border: 1px black solid;
  width: inherit;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

#shopping-item {
  font-size: 20px;
}

#shopping-amount {
  font-size: 14px;
}

#grocery-item {
  font-size: 20px;
}